<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/33ac8634-a88c-444d-83fc-efef2442f9e5/resourceGroups/shop-bridge-api/providers/Microsoft.Web/sites/shop-bride-api</ResourceId>
    <ResourceGroup>shop-bridge-api</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://shop-bride-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>shop-bride-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>shop-bride-api</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$shop-bride-api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>